<%- include('partials/header') -%>
  <div class="container-fluid feed-main">
    <div class="feed-content">
      <ul class="feed-content-list list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="feed-content-child">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid feed-img" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>